# Stacking Ensemble Learning - Beginner's Guide

## Import Libraries

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt

In [48]:
df = pd.read_csv(r'C:\Users\Sanjeshni\Desktop\doc\DATA\titanic_train.csv')

In [49]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [50]:
df= df.drop(['Name', 'PassengerId', 'Ticket','Embarked','Cabin'], axis=1)
df['Age'] = df['Age'].fillna(df['Age'].median())

In [51]:
encoded = pd.get_dummies(df[['Sex']], drop_first=True)
df = pd.concat([df, encoded], axis=1)
df = df.drop(['Sex'], axis =1)

In [52]:
y_train = df['Survived']
X_train = df.drop('Survived', axis =1)

In [53]:
df1 = pd.read_csv(r'C:\Users\Sanjeshni\Desktop\doc\DATA\titanic_test.csv')
df1= df1.drop(['Name', 'PassengerId', 'Ticket','Embarked','Cabin'], axis=1)
df1['Age'] = df1['Age'].fillna(df['Age'].median())
df1['Fare'] = df1['Fare'].fillna(df['Fare'].median())

encoded1 = pd.get_dummies(df1[['Sex']], drop_first=True)
df1 = pd.concat([df1, encoded1], axis=1)
df1 = df1.drop(['Sex'], axis=1)

In [54]:
X_test = df1

In [55]:
X_test

     Pclass   Age  SibSp  Parch      Fare  Sex_male
0         3  34.5      0      0    7.8292         1
1         3  47.0      1      0    7.0000         0
2         2  62.0      0      0    9.6875         1
3         3  27.0      0      0    8.6625         1
4         3  22.0      1      1   12.2875         0
..      ...   ...    ...    ...       ...       ...
413       3  28.0      0      0    8.0500         1
414       1  39.0      0      0  108.9000         0
415       3  38.5      0      0    7.2500         1
416       3  28.0      0      0    8.0500         1
417       3  28.0      1      1   22.3583         1

[418 rows x 6 columns]

In [56]:
#splitting train data in 2 parts

from sklearn.model_selection import train_test_split
xtraining,xvalid,ytraining,yvalid = train_test_split(X_train,y_train,test_size=0.5)

In [57]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import xgboost as xgb

In [58]:
model1 = RandomForestClassifier()
model2  = LogisticRegression()
model3 = xgb.XGBClassifier()

In [59]:
model1.fit(xtraining, ytraining)
model2.fit(xtraining, ytraining)
model3.fit(xtraining, ytraining)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [60]:
#making predictions for the validation data
preds1 = model1.predict(xvalid)
preds2 = model2.predict(xvalid)
preds3 = model3.predict(xvalid)

#making predictions for the test data
test_preds1 = model1.predict(X_test)
test_preds2 = model2.predict(X_test)
test_preds3 = model3.predict(X_test)

In [ ]:
test_preds1

In [61]:
preds1

array([0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0], dtype=int64)

In [62]:
#making a new dataset for training our final model by stacking the predictions on the validation data
train_stack = np.column_stack((preds1,preds2,preds3))

#making the final test set for our final model by stacking the predictions on the test data
test_stack = np.column_stack((test_preds1,test_preds2,test_preds3))

In [63]:
train_stack

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       ...,
       [1, 1, 1],
       [0, 0, 0],
       [0, 0, 0]], dtype=int64)

In [45]:
final_model = RandomForestClassifier()

#training the final model on the stacked predictions
final_model.fit(train_stack,yvalid)

RandomForestClassifier()

In [46]:
final_predictions = final_model.predict(test_stack)